*{
  margin: 0px;
  padding: 0px;
}

.App {
  /* text-align: center; */
  background-color: #dddddd;
  width: 950px;
  /* height: 1000px; */
  margin: 0px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Header {
  background-color: #6aa84f;
  height: 100px;
  margin: 0px 15px;
  border: 2px black solid;
}

#Navigation {
  background-color: #6fa8dc;
  width: 20%;
  height: 300px;
  display: inline-block;
  margin: 10px 0px 10px 15px;
  border: 2px black solid;
  vertical-align: top;
}

#Main {
  background-color: #e06666;
  width: 74%;
  height: 500px;
  display: inline-block;
  margin: 10px 15px 10px 15px;
  border: 2px black solid; 
}
.SubContents{
  min-height: 300px;
  width: 30%;
  background-color: #ffd966;
  display: inline-block;
  margin: 20px 0px 20px 20px;
 }
 #Advertisement{
  min-height: 120px;
  width: 670px;
  background-color: purple;
  margin: 20px;
 }